@media screen and (min-width:991px){
    #navbar{
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.64);
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    width: 98%;
    
    }
    
    #img2{display: none;}
    
    .main-container{
    
    max-width: 100%;
    max-height: 100%;
    background-image: url("../images/background-top.png");
    background-repeat: no-repeat;  
    background-size: cover;
    width: 99%;
    height: 740px;
    
    
    }
    
    .derechos{
        margin-top: 85px;
        
        position: absolute;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #92968E;
        
        }
    
    .alert{
    
        
        position: absolute;
        top: 320px;
        height: 50px;
        width: 250px;
        display: flex;
        text-align: start;
        align-items: center;
        left: 290px;
    
        }
    #alerta2{
        position: absolute;
        top: 320px;
        height: 50px;
        width: 250px;
        display: flex;
        text-align: start;
        align-items: center;
        left: 290px;
    
    }
    
    .alert > p{
      font-size: 13px;
      margin-left: 0;
      margin-right: 0;
    }
    
    .mensaje-alerta{
    
    display: none;
    
    }
    .mensaje-alerta2{
    
        display: none;
        
        }
    
    .mensaje-alerta-show{
    
    display: block;
    
    }
    
    .mensaje-alerta2-show{
    
        display: block;
        
        }
    
    a:hover{
    
        transform: scale(1.1,1.2);
        transition: all 300ms;
    
    }
    .panel-top{
       
        position: absolute;
        top: 0;
        border: 2px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        
    }
    .variables{
    
    background-color: #E7EDE1;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
    width: 450px;
    height: 380px;
    margin-top: 147px;
    margin-left: 100px;
    margin-bottom: 147px;
    min-height: 330px;
    
    
    }
    .formula{
    background-color: #E7EDE1;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
    width: 50%;
    height:50%;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }
    .panel-bottom{
    background-color: #E7EDE1;
    box-shadow: 0px -5px 10px -3px rgba(0,0,0,0.67);
    border-radius: 10px 10px 0px 0px ;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    
    width: 100%;
    height: 180px;
    margin-top: 45px;
    position: absolute;
    top: 80%;
    padding-top: 15px;
    
    
    }

    .panel-bottom h1{

 font-size: 40px;

    }
    #insertx{
    
    
    position: absolute;
    width: 25px;
    height: 25px;
    margin-right: 116px;
    margin-top: 5px;
    text-align: center;
        
    }
    #insertx1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -25px;
        margin-top: -40px;
        text-align: center;
            
    }
    #insertx2{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -230px;
        margin-top: -40px;
        text-align: center;
            
    }
    #insertk{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -25px;
        margin-top: -115px;
        text-align: center;
            
    }
    #insertk1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -240px;
        margin-top: -115px;
        text-align: center;
            
    }
    #insertN{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -145px;
        margin-top: -115px;
        text-align: center;
            
    }
    #insertN1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -130px;
        margin-top: 50px;
        text-align: center;
            
    }

    #insertn{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -135px;
        margin-top: -40px;
        text-align: center;
            
    }
    #insertn1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -130px;
        margin-top: 120px;
        text-align: center;
            
    }
        
        
    
    .recivex{
    
        position: absolute;
        margin-bottom: 8px;
        top: 260px;
        left: 180px;
        width: 100px;
    
    }
    .recivek{
    
        position: absolute;
        margin-bottom: 8px;
        top: 310px;
        left: 180px;
        width: 100px;
        
        }
        .reciveN{
    
            position: absolute;
            margin-bottom: 8px;
            top: 365px;
            left: 180px;
            width: 100px;
            
            }
    .reciven{
    
        position: absolute;
        margin-bottom: 8px;
        top: 418px;
        left: 180px;
        width: 100px;
        
        }
        
    
    h1{
        font-size: 30px;
       
        text-align: center;
        margin-top: 15px;
    }
    h2{
        font-size: 25px;
        margin-left: 20px;
        margin-top: 15px;
    
    }
    p{
        margin-top: 22px;
        margin-left: 45px;
        font-size: 20px;
    }
    
    #rdecimal{
    
        margin-top: 70px;
        margin-left: 250px;
    }
    #rporcentaje{
        margin-top: 70px;
    }
    .results{
    
    height: 40px;
    margin-top: 70px;
    margin-left: 7px;
    
    }
    
    
    
    .btn-calcular{
    
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    
    }
    #boton1{
    
            width: 150px;
            margin-left: 70px;
    
        }
    #boton2{
    
            width: 150px;
            margin-left: 15px;
            margin-right: 70px; 
    
        }
    
    .toggle{
    
        color: white;
        background: none;
        border: none;
        font-size: 25px;
        padding: 0 10px;
        line-height: 60px;
        
        display: none;
        
        }
    
    .nav-item{
    
    padding: 0 10px;
    
    }
    
    body{
    
    font-size: 20px;
    background-color: #E7EDE1;  
    
    }
    
    }
    
    @media screen and (max-width:767px){

        .derechos{
        
        
            position: absolute;
            width: 100%;
            height: 50px;
            top: 140%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #92968E;
            
    }
    
    .derechos p{
    
        font-size: 15px;
        margin-right: 40px;
    
    }
    
        .main-container{
    
            max-width: 100%;
            max-height: 100%; 
            width: 100%;
            height: 100%;
            
            }
            
    h1{
        text-align: center;
        margin-top: 15px;
        font-size: 24px;
    }
    h2{
    
        margin-left: 20px;
        margin-top: 20px;
        font-size: 20px;
    
    }
    p{
        margin-top: 23px;
        margin-left: 45px;
        font-size: 20px;
    }
    
    
            .panel-top{
    
                background-image: url("../images/background-top.png");
                background-repeat: no-repeat;  
                background-size: cover;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-bottom: 30px;
                
            }
           
            .variables{
    
                background-color: #E7EDE1;
                border-radius: 25px 25px 25px 25px;
                box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
                width: 85%;
                height: 380px;
                margin-top: 100px;
                margin-left: 30px;
                padding-bottom: 20px;
                
                }
                .alert{
    
        
                    position: absolute;
                    top: 110px;
                    height: 50px;
                    width: 300px;
                    display: flex;
                    text-align: start;
                    align-items: center;
                    left: 45px;
                    z-index: 1;
                    }
                #alerta2{
                    position: absolute;
                    top: 110px;
                    height: 50px;
                    width: 300px;
                    display: flex;
                    text-align: start;
                    align-items: center;
                    left: 45px;
                    z-index: 1;
                
                }
                
                .alert > p{
                  font-size: 13px;
                  margin-left: 0;
                  margin-right: 0;
                }
                
                .mensaje-alerta{
                
                display: none;
                
                }
                .mensaje-alerta2{
                
                    display: none;
                    
                    }
                
                .mensaje-alerta-show{
                
                display: block;
                
                }
                
                .mensaje-alerta2-show{
                
                    display: block;
                    
                    }
                .formula{
                    background-color: #E7EDE1;
                    border-radius: 25px 25px 25px 25px;
                    box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
                    width: 93%;
                    height: 300px;
                    margin-top: 20px;
                    margin-left: 15px;
                    margin-right: 15px;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    }
             
                #insertx{
    
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    margin-right: 120px;
                    margin-top: 8px;
                    text-align: center;
                    
                }
                #insertx1{
    
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    margin-right: -25px;
                    margin-top: -38px;
                    text-align: center;
                    
                }

                
                #insertx2{
    
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    margin-right: -230px;
                    margin-top: -30px;
                    text-align: center;
                    
                }
                #insertk{
    
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    margin-right: -25px;
                    margin-top: -110px;
                    text-align: center;
                    
                }
                #insertk1{
    
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    margin-right: -240px;
                    margin-top: -110px;
                    text-align: center;
                    
                }
                #insertN{
    
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    margin-right: -145px;
                    margin-top: -113px;
                    text-align: center;
                    
                }
                #insertN1{
    
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    margin-right: -133px;
                    margin-top: 60px;
                    text-align: center;
                    
                }
                #insertn{
    
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    margin-right: -135px;
                    margin-top: -35px;
                    text-align: center;
                    
                }
                #insertn1{
    
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    margin-right: -133px;
                    margin-top: 125px;
                    text-align: center;
                    
                }




                
                    
                                                        .recivex{
    
                                                            position: absolute;
                                                            margin-bottom: 8px;
                                                            top: 210px;
                                                            left: 100px;
                                                            width: 100px;
                                                        
                                                        }
                                                        .recivek{
                                                        
                                                            position: absolute;
                                                            margin-bottom: 8px;
                                                            top: 263px;
                                                            left: 100px;
                                                            width: 100px;
                                                            
                                                            }
                                                            .reciveN{
                                                        
                                                                position: absolute;
                                                                margin-bottom: 8px;
                                                                top: 315px;
                                                                left: 100px;
                                                                width: 100px;
                                                                
                                                                }
                                                        .reciven{
                                                        
                                                            position: absolute;
                                                            margin-bottom: 8px;
                                                            top: 365px;
                                                            left: 100px;
                                                            width: 100px;
                                                            
                                                            }   
    .btn-calcular{
    
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        
        }
                #boton1{
    
                    width: 100px;
                    margin-left: 75px;
                    margin-top: 6px;
                
                }
                #boton2{
                
                    width: 100px;
                    margin-left: 15px;
                    margin-right: 40px; 
                    margin-top: 6px;
                
                }
    
                
    .panel-bottom{
    
    background-color: #E7EDE1;
    box-shadow: 0px -6px 6px -5px rgba(0,0,0,0.65);
    border-radius: 10px 10px 0px 0px ;
    padding-left: 20px;
    
    
    width: 100%;
    height: 180px;
    margin-top: 215px;
    position: absolute;
    top: 70%;
    
    
    }
    #rdecimal{
    
        margin-top: 20px;
        margin-left: 63px;
    }
    #rporcentaje{
        margin-top: 10px;
        margin-left:40px;
    }
    #resul1{
    position: absolute;
    top: 68px;
    left: 37%;
    }
    #resul2{
        position: absolute;
        top: 110px;
        left: 37%;
        }
    
    #navbar{
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.64);
        margin-top: 10px;
        margin-left: 4px;
        width: 98%;
        height: 70px;
        top: 0;
        position: absolute;
    }
    #img1{
        display: none;
    }
    
    .toggle{
    
        color: white;
        background: none;
        border: none;
        font-size: 25px;
        padding: 0 10px;
        line-height: 60px;
        cursor: pointer;
        
        
        }
    #navbarColor01{  
        display: flex;
        flex-direction: column;
    }
    
    .navbar-nav{
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.43);
        position: fixed;
        background-color: #333333;
        padding-left: 0px;
        top: 85px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        right: 100%;
        
    
        transition: right 0.3s;
    }
    .nav-item{
    
    padding: 20px 0;
    border-top: 2px solid black;
    
    
    }
    
    #nav-item1{
    
        border-radius: 10px 10px 0px 0px ;
        border-top: 2px solid #333333;
    
    }
    
    
    .nav-menu_visible{
    
    right: 0;
    
    }
    
    
    #bars{
        background-color: #333333;
        
    }
    body{   
    
        background-color: #E7EDE1;  
        
        }
    
    }