@media screen and (min-width:991px){
    body{
    
            font-size: 20px;
            background-color: #E7EDE1;  
            
    }
    
    h1{
            text-align: center;
            margin-top: 15px;
    }
        
    p{
            margin-top: 22px;
            margin-left: 45px;
            font-size: 20px;
    }
    
#img1{
    -webkit-border-radius: 10px 10px 10px 10px;
}



#img2{display: none;}

    .derechos{
    margin-top: 85px;
    
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #92968E;
    
    }
        
    #navbar{
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.64);
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    width: 98%;
    }
    
    #navbar .toggle{
    
        color: white;
        background: none;
        border: none;
        font-size: 25px;
        padding: 0 10px;
        line-height: 60px;
        
        display: none;
        
    }
    
    #navbar .nav-item{
    
    padding: 0 10px;
    
    }
    
    #navbar a:hover{
    
        transform: scale(1.1,1.2);
        transition: all 300ms;
    
    }
    
    .main-container{
    
    max-width: 100%;
    max-height: 100%;
    
    width: 99%;
    height: 740px;
    
    
    }
    
    .main-container .panel-top{
        background-image: url("../images/background-top.png");
        background-repeat: no-repeat;  
        background-size: cover;
        position: absolute;
        top: 0;
        border: 2px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        
    }
    
    .main-container .panel-top .variables{
    
        background-color: #E7EDE1;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
        width: 450px;
        height: 380px;
        margin-top: 147px;
        margin-left: 50px;
        margin-bottom: 147px;
        min-height: 330px;
        
        
    }
    .main-container .panel-top .grafica{
    
        background-color: #E7EDE1;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
        width: 30%;
        height:42.8%;
        margin-top: 190px;
        margin-left: 50px;
        margin-right: 40px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
    }

    .main-container .panel-top .grafica #inserta{
    
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: 125px;
        margin-top: 294px;
        text-align: center;
        
    }
    .main-container .panel-top .grafica #insertb{
    
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -190px;
        margin-top: 294px;
        text-align: center;
        
    }
    .main-container .panel-top .variables h2{
    
        margin-left: 20px;
        margin-top: 15px;
    
    }
    
    .main-container .panel-top .variables .recivea{
    
        position: absolute;
        margin-bottom: 8px;
        top: 283px;
        left: 120px;
        width: 100px;
    
    }
    .main-container .panel-top .variables .reciveb{
    
        position: absolute;
        margin-bottom: 8px;
        top: 333px;
        left: 120px;
        width: 100px;
    
    }
    .main-container .panel-top .variables .recivex{
    
        position: absolute;
        margin-bottom: 8px;
        top: 383px;
        left: 120px;
        width: 100px;
    
    }
     
    .main-container .panel-top .variables .alert{
    
        position: absolute;
        top: 320px;
        height: 50px;
        width: 250px;
        display: flex;
        text-align: start;
        align-items: center;
        left: 290px;
    
    }
    .mensaje-alerta{
    
        display: none;
        
    }
    
    .mensaje-alerta2{
    
        display: none;
    
    }
    
    .mensaje-alerta-show{
    
        display: block;
        
    }
    
    .mensaje-alerta2-show{
    
        display: block;
        
    }
    
    .main-container .panel-top .variables #alerta2{
        position: absolute;
        top: 320px;
        height: 50px;
        width: 250px;
        display: flex;
        text-align: start;
        align-items: center;
        left: 290px;
    
    }
    
    .main-container .panel-top .variables .alert > p{
      font-size: 13px;
      margin-left: 0;
      margin-right: 0;
    }
    
    .main-container .panel-top .variables .btn-calcular{
    
        display: flex;
        margin-top: 35px;
        margin-bottom: 20px;
        
    }
    .main-container .panel-top .variables #boton1{
        
                width: 150px;
                margin-left: 70px;
        
    }
    .main-container .panel-top .variables #boton2{
        
                width: 150px;
                margin-left: 15px;
                margin-right: 70px; 
        
    }
        
    .main-container .panel-top .formula{
    background-color: #E7EDE1;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
    width: 60%;
    height:380px;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }

    #img3{

        margin-top: -240px;
        margin-right: -230px;

    }
    #img4{

        margin-top: -40px;
        margin-right: 0px;

    }
    #img5{
        position: absolute;
        margin-top: 130px;
        margin-right: -50px;

    }
    #img6{
        position: absolute;
        margin-top: 290px;
        margin-right: -50px;

    }
    
    .main-container .panel-top .formula #inserta1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -75px;
        margin-top: -205px;
        text-align: center;
        
    }

    .main-container .panel-top .formula #insertb1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: 23px;
        margin-top: -205px;
        text-align: center;
        
    }
    .main-container .panel-top .formula #insertf{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -200px;
        margin-top: -245px;
        text-align: center;
        
    }
    .main-container .panel-top .formula #insertf1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -5px;
        margin-top: 125px;
        text-align: center;
        
    }
    .main-container .panel-top .formula #insertf2{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -170px;
        margin-top: 125px;
        text-align: center;
        
    }
    .main-container .panel-top .formula #insertli{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -20px;
        margin-top: 5px;
        text-align: center;
        
    }
    .main-container .panel-top .formula #insertli1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: 64px;
        margin-top: 173px;
        text-align: center;
        
    }
    .main-container .panel-top .formula #insertli2{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -290px;
        margin-top: 173px;
        text-align: center;
        
    }
    .main-container .panel-top .formula #insertls{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -35px;
        margin-top: -90px;
        text-align: center;
        
    }   
    .main-container .panel-top .formula #insertls1{
    
        
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: 50px;
        margin-top: 85px;
        text-align: center;
        
    } 
    .main-container .panel-top .formula #insertls2{
    
        
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -290px;
        margin-top: 85px;
        text-align: center;
        
    } 
    
    .main-container .panel-top .formula #insertm1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -70px;
        margin-top: 290px;
        text-align: center;
        
    }
    .main-container .panel-top .formula #insertm2{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -210px;
        margin-top: 290px;
        text-align: center;
        
    }
    .main-container .panel-top .formula #img2{display: none;}
    
    .main-container .panel-bottom{
    background-color: #E7EDE1;
    box-shadow: 0px -5px 10px -3px rgba(0,0,0,0.67);
    border-radius: 10px 10px 0px 0px ;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 230px;
    margin-top: 45px;
    position: absolute;
    top: 80%;
    padding-top: 15px;
    
    
    }
    
    .main-container .panel-bottom #rdecimal{
    
        margin-top: 70px;
        margin-left: 250px;
    }
    .main-container .panel-bottom #rporcentaje{
        margin-top: 70px;
    }
    .main-container .panel-bottom .results{
    
    height: 40px;
    margin-top: 70px;
    margin-left: 7px;
    
    }
    
    }
    
    @media screen and (max-width:767px){
    
    .derechos{
            
            
            position: absolute;
            width: 100%;
            height: 50px;
            top: 180%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-color: #92968E;  
            
    }
    
    .derechos p{
    
        font-size: 15px;
        margin-right: 40px;
    
    }
    
    body{   
    
    background-color: #E7EDE1;  
            
    }
    
    h1{
    text-align: center;
    margin-top: 15px;
    }
    h2{
        
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
        
    }
    p{
    margin-top: 23px;
    margin-left: 45px;
    font-size: 20px;
    }
    
    .main-container{
    
    max-width: 100%;
    max-height: 100%; 
    width: 100%;
    height: 100%;
            
    }
            
    .main-container .panel-top{
    
    background-image: url("../images/background-top.png");
    background-repeat: no-repeat;  
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 158%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
                
    }
           
    .main-container .panel-top .variables{
    
    background-color: #E7EDE1;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
    width: 85%;
    height: 340px;
    margin-top: 100px;
    margin-left: 30px;
    padding-bottom: 20px;
                
    }

    .main-container .panel-top .grafica{
    
         
    background-color: #E7EDE1;
   
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
    width: 0%;
    height:40%;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
        
        
        
    }
    #img2{
        -webkit-border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    #img3{

        margin-top: -230px;
        margin-right:0px;
     

    }   
    #img4{
        position: absolute;
        margin-top: -55px;
        margin-right: 0px;

    }
    #img5{
        position: absolute;
        margin-top: 120px;
        margin-right: -50px;

    }  
    #img6{
        position: absolute;
        margin-top: 290px;
        margin-right: -50px;

    }  
    
    .main-container .panel-top .variables .recivea{
    position: absolute;
    margin-bottom: 10px;
    top: 220px;
    left: 100px;
    width: 100px;
    }
           
    .main-container .panel-top .variables .reciveb{
        
    position: absolute;
    margin-bottom: 10px;
    top: 270px;
    left: 100px;
    width: 100px;
                        
    }
    
    .main-container .panel-top .variables .recivex{
                        
    position: absolute;
    margin-bottom: 10px;
    top: 320px;
    left: 100px;
    width: 100px;
                        
    }
                            
    .main-container .panel-top .variables .btn-calcular{
        
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
            
    }
    
    .main-container .panel-top .variables #boton1{
        
    width: 100px;
    margin-left: 80px;
    margin-top: 15px;
                    
    }
        
    .main-container .panel-top .variables #boton2{
                    
    width: 100px;
    margin-left: 15px;
    margin-right: 40px; 
    margin-top: 15px;
                    
    }
    
        
    .main-container .panel-top .variables .alert{
    
        
    position: absolute;
    top: 110px;
    height: 50px;
    width: 300px;
    display: flex;
    text-align: start;
    align-items: center;
    left: 45px;
                  
    }
    .main-container .panel-top .variables #alerta2{
    position: absolute;
    top: 110px;
    height: 50px;
    width: 300px;
    display: flex;
    text-align: start;
    align-items: center;
    left: 45px;
                   
                
    }
                
    .main-container .panel-top .variables .alert > p{
    font-size: 13px;
    margin-left: 0;
    margin-right: 0;
    }
                
    .mensaje-alerta{
                
    display: none;
                
    }
    
    .mensaje-alerta2{
                
    display: none;
                    
    }
                
    .mensaje-alerta-show{
                
    display: block;
                
    }
                
    .mensaje-alerta2-show{
                
    display: block;
                    
    }
    
    .main-container .panel-top .formula{
    
    background-color: #E7EDE1;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,1);
    width: 90%;
    height:400px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
             
    .main-container .panel-top .grafica #inserta{
    
    position: absolute;
    width: 20px;
    height: 20px;
    margin-right: 95px;
    margin-top: 220px;
    text-align: center;
                    
    }
    .main-container .panel-top .grafica #insertb{
    
   
        position: absolute;
        width: 20px;
        height: 20px;
        margin-right: -140px;
        margin-top: 220px;
        text-align: center;
                        
        }
    .main-container .panel-top .formula #inserta1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: 25px;
        margin-top: -195px;
        text-align: center;
                        
        }
        .main-container .panel-top .formula #insertb1{
    
            position: absolute;
            width: 25px;
            height: 25px;
            margin-right: -75px;
            margin-top: -195px;
            text-align: center;
                            
            }
            .main-container .panel-top .formula #insertf{
    
                position: absolute;
            width: 25px;
            height: 25px;
            margin-right: -200px;
            margin-top: -230px;
            text-align: center;
                                
    }
    .main-container .panel-top .formula #insertf1{
    
        position: absolute;
        width: 25px;
        height: 25px;
        margin-right: -4px;
        margin-top: 110px;
        text-align: center;
                        
}
.main-container .panel-top .formula #insertf2{
    
    position: absolute;
    width: 25px;
    height: 25px;
    margin-right: -170px;
    margin-top: 110px;
    text-align: center;
                    
                    
}
    .main-container .panel-top .formula #insertli{
    
    position: absolute;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: -10px;
    text-align: center;
                        
}
.main-container .panel-top .formula #insertli1{
    
    position: absolute;
    width: 25px;
    height: 25px;
    margin-right: 66px;
    margin-top: 170px;
    text-align: center;
                        
}
.main-container .panel-top .formula #insertli2{
    
     position: absolute;
    width: 25px;
    height: 25px;
    margin-right: -290px;
    margin-top: 170px;
    text-align: center;
                        
}
.main-container .panel-top .formula #insertls{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-right: -5px;
    margin-top: -100px;
    text-align: center;
                    
}
.main-container .panel-top .formula #insertls1{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-right: 50px;
    margin-top: 75px;
    text-align: center;
                        
                    
}
.main-container .panel-top .formula #insertls2{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-right: -290px;
    margin-top: 75px;
    text-align: center;
                    
}
.main-container .panel-top .formula #insertm1{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-right: -70px;
    margin-top: 290px;
    text-align: center;
                    
}

.main-container .panel-top .formula #insertm2{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-right: -210px;
    margin-top: 290px;
    text-align: center;
                    
}

    
       
    .main-container .panel-bottom{
    
    background-color: #E7EDE1;
    box-shadow: 0px -6px 6px -5px rgba(0,0,0,0.65);
    border-radius: 10px 10px 0px 0px ;
    padding-left: 20px;
    
    
    width: 100%;
    height: 180px;
    margin-top: 215px;
    position: absolute;
    top: 130%;
    
    
    }
    
    .main-container .panel-bottom #rdecimal{
    
    margin-top: 20px;
    margin-left: 63px;
    
    }
    
    .main-container .panel-bottom #rporcentaje{
        
    margin-top: 10px;
    margin-left:40px;
    
    }
    
    .main-container .panel-bottom #resul1{
    
    position: absolute;
    top: 68px;
    left: 37%;
    
    }
    
    .main-container .panel-bottom #resul2{
    
    position: absolute;
    top: 110px;
    left: 37%;
    
    }
    
    #navbar{
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.64);
        margin-top: 10px;
        margin-left: 4px;
        width: 98%;
        height: 70px;
        top: 0;
        position: absolute;
    }
    #img1{
        display: none;
    }
    
    .toggle{
    
        color: white;
        background: none;
        border: none;
        font-size: 25px;
        padding: 0 10px;
        line-height: 60px;
        cursor: pointer;
        
        
        }
    #navbarColor01{  
        display: flex;
        flex-direction: column;
    }
    
    .navbar-nav{
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.43);
        position: fixed;
        background-color: #333333;
        padding-left: 0px;
        top: 85px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        right: 100%;
        
    
        transition: right 0.3s;
    }
    .nav-item{
    
    padding: 20px 0;
    border-top: 2px solid black;
    
    
    }
    
    #nav-item1{
    
        border-radius: 10px 10px 0px 0px ;
        border-top: 2px solid #333333;
    
    }
    
    
    .nav-menu_visible{
    
    right: 0;
    
    }
    
    
    #bars{
        background-color: #333333;
        
    }
    
    
    }